.big-father{

    background-color: #4b4168;
} 
.big-title_two{
    margin: 25px;
    font-size: 25px;
    font-weight: 800;
    font-family: "DM Serif Display", serif;
    text-align: center;
}
@media (max-width:700px) {
    .big-father{
        flex-direction: column;
        justify-content: center;
        } 
        
}